<script>
  import omit from 'lodash/omit';

  export let href;
  export let target;

  $: rest = omit($$props, ['href', 'target']);
</script>

<style>
  a:hover {
    text-decoration: none;
  }

  a:active, a:focus {
    outline: none;
    -moz-outline-style: none;
  }
</style>

{#if href}
  <a {href} {target} {...rest}>
    <slot />
  </a>
{:else}
  <div {...rest}>
    <slot />
  </div>
{/if}
