<script>
  import { createEventDispatcher } from 'svelte';

  import Icon from 'ui/atoms/icon/Icon';

  export let accept;
  export let label;

  let input;

  const dispatch = createEventDispatcher();

  function chooseFile () {
    input.click();
  }

  function handleChange (e) {
    dispatch('change', {
      file: e.currentTarget.files[0],
      value: e.currentTarget.value
    });
  }
</script>

<style>
  input {
    display: none;
  }
</style>

<div>
  <button class="btn btn-outline-primary" on:click={chooseFile}>
    {#if label}
      <span class=mr-2>{label}</span>
    {/if}
    <Icon name=attach />
  </button>
  <input
    bind:this={input}
    type=file
    {accept}
    on:change={handleChange}
    />
</div>
