<script>
    import formatDistanceToNow from 'date-fns/formatDistanceToNow';

    import { parseDate } from 'utils/date';

    import Caption from 'ui/atoms/caption/Caption';

    export let value;

    function getValue (value) {
      let date = value;
      if (!(value instanceof Date)) {
        date = parseDate(value);
        if (!date) {
          return '-';
        }
      }

      return formatDistanceToNow(date);
    }

    $: date = getValue(value);
</script>

<Caption>{date}</Caption>
