<script>
    import { goto, stores } from '@sapper/app';

    import ListErrors from 'ui/atoms/errors/Errors';
    import TextField from 'ui/atoms/fields/text/TextField';

    import { post } from 'utils/post';

    const { session } = stores();

    let login = '';
    let password = '';
    let errors = {};

    async function submit (event) {
      const response = await post('api/auth/login.json', { login, password });

      // TODO handle network errors
      errors = response.errors;

      if (response.user) {
        $session.user = response.user;
        goto('/');
      }
    }
</script>

<svelte:head>
    <title>Sign in</title>
</svelte:head>

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign In</h1>

                <ListErrors {errors}/>

                <form on:submit|preventDefault={submit}>
                  <TextField
                    type="text"
                    placeholder="email or username"
                    bind:value={login}
                  />
                  <TextField
                    type="password"
                    placeholder="password"
                    bind:value={password}
                  />
                  <button class="btn btn-lg btn-primary pull-xs-right" type="submit" disabled='{!login || !password}'>
                      Sign in
                  </button>
                </form>
            </div>
        </div>
    </div>
</div>
