<script>
  import { goto } from '@sapper/app';
  import omit from 'lodash/omit';
  import pick from 'lodash/pick';

  import ListErrors from 'ui/atoms/errors/Errors';
  import TextField from 'ui/atoms/fields/text/TextField';

  import { post } from 'utils/post';

  let name = '';
  let email = '';
  let password = '';
  let errors = {};
  let errorsList = {};

  const formFields = ['name', 'password', 'email'];

  async function submit (event) {
    const response = await post('api/auth/register.json', { name, email, password });

    // TODO handle network errors
    errors = pick(response.errors, formFields);
    errorsList = omit(response.errors, formFields);

    if (response.success) {
      goto('/auth/login');
    }
  }
</script>

<svelte:head>
    <title>Register</title>
</svelte:head>

<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>

        <ListErrors errors={errorsList}/>

        <form on:submit|preventDefault={submit}>
          <TextField
            type="text"
            placeholder="username"
            bind:value={name}
            error={errors.name}
          />

          <TextField
            type="email"
            placeholder="email"
            bind:value={email}
            error={errors.email}
          />

          <TextField
            type="password"
            placeholder="password"
            bind:value={password}
            error={errors.password}
          />
          <button class="btn btn-lg btn-primary pull-xs-right">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
