<script>
  export let errors;

  $: keys = Object.keys(errors || {});
</script>

<style>
  ul {
    list-style-type: none;
  }
</style>

{#if keys && keys.length}
    <ul class="alert alert-danger" role="alert">
        {#each keys as key}
          <li><strong>{key} :</strong> {@html errors[key]}</li>
        {/each}
    </ul>
{/if}

