<script>
    import omit from 'lodash/omit';

    import BaseField from 'ui/atoms/fields/base/BaseField';

    export let label;
    export let value;
    export let type = 'text';
    export let placeholder;
    export let error;
    export let small;

    $: rest = omit($$props, ['label', 'value', 'type', 'placeholder', 'error', 'class']);

    function handleInput (e) {
      value = type.match(/^(number|range)$/)
        ? +e.target.value
        : e.target.value;

      if (type === 'number') {
        error = !/^[0-9]*$/.test(value);
      }
    }
</script>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    width: 60px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  div {
    position: relative;
  }
</style>

<BaseField {label} {error} class={$$props.class} >
  <div>
    <input
        {type}
        {value}
        {placeholder}
        {...rest}
        class=form-control
        class:form-control-sm={small}
        class:is-invalid={error}
        on:input={handleInput}
        on:focus
        on:change
        on:blur
        on:keydown
    />
    <slot />
  </div>
</BaseField>
