<script>
    import { stores } from '@sapper/app';

    import Navbar from 'ui/organisms/navbar/Navbar';

    const { page, session } = stores();

    const appIcon = '/logo-512.png';

    function getLinks (user) {
      const links = [
        { href: '/', label: 'chord generator' },
        { href: '/tab', label: 'tabs' }
      ];

      if (user) {
        links.push(
          { href: '/me', label: $session.user.name, icon: 'contact' }
        );
      } else {
        links.push(
          { href: '/auth/login', label: 'sign in' }
        );
      }

      return links;
    }

    $: links = getLinks($session.user);
</script>

<style>
  main {
    margin-top: 2em;
  }
</style>

<Navbar {links} path={$page.path} {appIcon}/>

<main>
    <div class="container page">
      <slot></slot>
    </div>
</main>
