<script context="module">
  export const acceptedFileType = [
    'application/pdf',
    'application/vnd.oasis.opendocument.text',
    'application/msword',
    'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
  ];
</script>
<script>
  import { createEventDispatcher } from 'svelte';
  import { _ } from 'svelte-i18n';
  import omit from 'lodash/omit';

  import { getPreviewImage } from 'ui/atoms/youtube-link/utils';
  import FileUpload from 'ui/atoms/file-upload/FileUpload';
  import AutoComplete from 'ui/molecules/auto-complete/AutoComplete';
  import Actions from 'ui/molecules/actions/Actions';
  import Errors from 'ui/atoms/errors/Errors';
  import TextField from 'ui/atoms/fields/text/TextField';
  import SelectField from 'ui/atoms/fields/select/SelectField';
  import File from 'ui/molecules/file/File';

  import { getOptionLabel, getOptionTab } from './utils';

  export let artist = '';
  export let author = '';
  export let categoryId;
  export let title = '';
  export let level = 1;
  export let link = '';
  export let errors = {};
  export let files = [];
  export let isSaving = false;

  export let acceptedFiles = acceptedFileType.join(',')

  export let categories = [];
  export let loadTabs;
  export let loadArtists;
  export let loadAuthors;

  let tab;

  $: listErrors = omit(errors, [
    'artist', 'author', 'categoryId', 'title', 'level', 'link', 'files'
  ]);

  const dispatch = createEventDispatcher();

  function onSubmit () {
    let detail = {
      title,
      author,
      artist,
      link,
      categoryId,
      level,
      files
    };
    if (tab && tab.artist === artist && tab.title === title) {
      detail = { ...tab, ...detail };
    }

    dispatch('submit', detail);
  }

  function handleUpload ({ detail }) {
    dispatch('upload', detail);
  }

  function onSelectFile ({ detail: file }) {
    const index = files.findIndex(
      ({ name, type }) => name === file.name && type === file.type
    );

    dispatch('selectFile', { file, index });
  }

  function onSelectTab ({ detail }) {
    tab = detail;
    title = detail.title;
    artist = detail.artist;
    author = detail.author;
    categoryId = detail.categoryId;
    level = detail.level;
    link = detail.link;
    files = detail.files;
  }

  function onSelectArtist ({ detail }) {
    artist = detail.artist;
  }

  function onSelectAuthor ({ detail }) {
    author = detail.author;
  }

  function getLabelPreview (link) {
    const img = getPreviewImage(link);
    if (!img) {
      return '';
    }

    return `<img class="float-right" src="${img}" alt="preview" height="24" />`;
  }

  $: previewImage = getLabelPreview(link);
</script>


<style>
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
</style>

<div class=tab-form>
  <div class=mb-2>
    <Actions on:submit={onSubmit} on:cancel saving={isSaving} />
  </div>

  {#if Object.keys(listErrors).length}
    <Errors errors={listErrors} />
  {/if}
  <div class=form>
    <AutoComplete
      loadOptions={loadTabs}
      getOptionLabel={getOptionTab}
      on:select={onSelectTab}
      bind:value={title}
      label={$_('tab.title')}
      placeholder={$_('tab.title')}
      error={errors.title}
    />

    <AutoComplete
      label={$_('tab.artist')}
      placeholder={$_('tab.artist')}
      loadOptions={loadArtists}
      getOptionLabel={getOptionLabel('artist')}
      bind:value={artist}
      error={errors.artist}
      on:select={onSelectArtist}
    />
    <AutoComplete
      label={$_('tab.author')}
      placeholder={$_('tab.author')}
      loadOptions={loadAuthors}
      getOptionLabel={getOptionLabel('author')}
      bind:value={author}
      on:select={onSelectAuthor}
      error={errors.author}
    />

    <TextField
      name=link
      label={$_('tab.link') + previewImage}
      placeholder={$_('tab.link')}
      bind:value={link}
      type=url
      error={errors.link}
    />

    <SelectField
      label={$_('tab.category')}
      placeholder={$_('tab.category')}
      bind:value={categoryId}
      items={categories}
      error={errors.categoryId}
    />

    <TextField
      label={$_('tab.level')}
      bind:value={level}
      type=number
      error={errors.level}
    />
  </div>

  <div class="d-flex justify-content-end mb-2">
    <FileUpload accept={acceptedFiles} on:change={handleUpload} />
  </div>

  <div class="list-group list-group-flush">
    {#each files as file}
      <File {...file} on:select={onSelectFile} />
    {/each}
  </div>
</div>
