<script>
    import BaseField from 'ui/atoms/fields/base/BaseField';

    export let label;
    export let value;
    export let items;
    export let error;
    export let placeholder;
</script>

<style>
  select {
    flex-grow: 1;
  }
</style>

<BaseField label={label} {error} class={$$props.class}>
  <select
    bind:value={value}
    class="form-control"
    class:is-invalid={error}
    {placeholder}
  >
    {#each items as item}
      <option value={item.id}>{item.label}</option>
    {/each}
  </select>
</BaseField>
