<script>
  export let name = '';
  export let type = 'md';
  export let medium = false;
  export let large = false;

  $: className = `ion ion-${type}-${name}`;
</script>

<style>
  i {
    opacity: 0.75;
  }

  i:hover {
    opacity: 1;
  }

  .md {
    font-size: 2em;
  }

  .lg {
    font-size: 4em;
  }
</style>

<i class={className} class:lg={large} class:md={medium} />
