<script>
    import { getVideoPreviewLink } from './utils';

    export let link;

    const preview = getVideoPreviewLink(link);
</script>

{#if preview}
    <iframe src={preview} frameborder=0 title />
{:else if link}
    <a href={link} target=_blank>preview available here</a>
{/if}
