<script>
    import TabItem from 'ui/organisms/list-tab-item/ListTabItem';
    export let tabs;
</script>

<style>
  a.tab, a.tab:hover {
    text-decoration: none;
    color: initial;
    cursor: pointer;
  }
</style>

<div>
  {#each tabs as { href, ...tab }}
    <a {href} class="tab">
      <TabItem {...tab} />
    </a>
  {/each}
</div>
