<script>
  export let links = [];
  export let path;
  export let appIcon;
</script>

<style>
  .container {
    width: 100%;
  }
</style>

<nav class="navbar navbar-expand navbar-dark bg-primary">
  {#if appIcon}
    <a class='navbar-brand' href='/'>
      <img src={appIcon} width="30" height="30" alt='home' />
    </a>
  {/if}
  <div class="container justify-content-end">
    <ul class="navbar-nav">
      {#each links as link}
      <li class="nav-item" class:active={path === link.href} >
        <a class="nav-link" href={link.href}>
        {#if link.icon}
            <i class="ion ion-md-{link.icon}"></i>
          {/if}
          {link.label}
        </a>
      </li>
      {/each}
    </ul>
  </div>
</nav>
