<script>
    import { createEventDispatcher } from 'svelte';
    import omit from 'lodash/omit';

    import Errors from 'ui/atoms/errors/Errors';
    import TextField from 'ui/atoms/fields/text/TextField';
    import SelectField from 'ui/atoms/fields/select/SelectField';

    export let artist = '';
    export let author = '';
    export let categories = [];
    export let categoryId;
    export let title = '';
    export let level = 1;
    export let link = '';
    export let errors = {};

    $: listErrors = omit(errors, [
      'artist', 'author', 'categoryId', 'title', 'level',
      'link'
    ]);

    const dispatch = createEventDispatcher();

    function onSubmit () {
      dispatch('submit', {
        artist,
        author,
        categoryId,
        title,
        level,
        link
      });
    }
</script>


<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .action {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    margin: 5px;
    flex-grow: 2;
  }
</style>

<div>
    {#if Object.keys(listErrors).length}
      <Errors errors={listErrors} />
    {/if}
    <div class='container'>
      <TextField
        name='title'
        label='title'
        bind:value={title}
        error={errors.title}
      />
      <TextField
        name='artist'
        label='artist'
        bind:value={artist}
        error={errors.artist}
      />
      <TextField
        name='author'
        label='author'
        bind:value={author}
        error={errors.author}
      />
      <TextField
        name='link'
        label='link'
        bind:value={link}
        type=url
        error={errors.link}
      />
      <SelectField
          label='category'
          bind:value={categoryId}
          items={categories}
          error={errors.categoryId}
      />
      <TextField label='level' bind:value={level} type=number error={errors.level} />

      <div class='action'>
          <button class='btn btn-outline-primary' on:click={onSubmit}>save</button>
      </div>
    </div>
</div>
