<script>
  import { _ } from 'svelte-i18n';
  import Caption from 'ui/atoms/caption/Caption';
  import LastUpdate from 'ui/atoms/last-update/LastUpdate';
  import TabTitle from 'ui/molecules/title/Title';

  export let title = '';
  export let artist = '';
  export let category = '';
  export let updated = '';
  export let files = [];
  export let level = '';
  export let href = '';
  export let compact = false;
</script>

<style>
  .compact .details {
    display: none;
  }
</style>

<a
  {href}
  class="list-group-item list-group-item-action py-2 px-3"
  class:compact={compact}
>
  <div class="row align-items-center">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
      <TabTitle title={title} subtitle={artist} {compact} />
    </div>

    <div class="details col-12 col-md-6 col-lg-5 col-xl-4">
      <div class="row">
        <div class="col-8 col-md-7 text-truncate">
          <Caption>{category}</Caption>
        </div>
        <div class="col text-right">
          <LastUpdate value={updated} />
        </div>
      </div>

      <div class="row">
        {#if level}
          <div class="col">
            <Caption>{$_('tab.level')}: {level}</Caption>
          </div>
        {/if}
        {#if files && files.length}
          <div class="col text-right">
            <Caption>{$_('tab.files').replace('%TOTAL%', files.length)}</Caption>
          </div>
        {/if}
      </div>
    </div>
  </div>
</a>
