<script>
  import ChordForm from 'ui/organisms/chord-form/ChordForm';

  const chords = ['G', 'C', 'E', 'A']
    .map((name, index) => ({ name, finger: 0 }));

  const title = 'Ukulele chord generator';
  const name = 'Am7';

  let errors = {};
  let src = getImgSrc({ name, chords });

  function isValidName (name) {
    return /^([A-G][^\s,;]*)$/.test(name);
  }

  function getImgSrc ({ name, chords }) {
    const fingers = chords.map(({ finger }) => finger).join(',');
    return `${process.env.API_CHORDS}?fingers=` +
      fingers +
      '&name=' + encodeURIComponent(name);
  }

  function handleChange ({ detail }) {
    if (!isValidName(detail.name)) {
      errors = { name: 'invalid chord name' };
      return;
    }

    errors = {};
    src = getImgSrc(detail);
  }

  function downloadIt () {
    var tag = document.createElement('a');
    tag.href = src;
    tag.download = name + '.png';
    document.body.appendChild(tag);
    tag.click();
    document.body.removeChild(tag);
  }
</script>

<style>
  img {
    margin: 0 0 1em 0;
  }
</style>
<svelte:head>
    <title>{title}</title>
</svelte:head>


<div class="d-flex flex-column align-items-center">
  <h1>{title}</h1>
  <form>
    <ChordForm {name} {chords} {errors} on:change={handleChange} />
  </form>

  <img alt={name} {src} />

  <button class="btn btn-outline-primary" on:click={downloadIt}>save it</button>
</div>
