<script>
    import Caption from 'ui/atoms/caption/Caption';
    import LastUpdate from 'ui/atoms/last-update/LastUpdate';

    export let fullpath;
    export let name;
    export let type;
    export let updated;
    export let added;
</script>

<style>
  a {
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  a:hover {
    background-color: #eee;
  }

  a:hover span {
    text-decoration: underline;
  }
</style>

<a href={fullpath} target=_blank>
    <span>{`${name}.${type}`}</span>
    <p class='d-flex justify-content-around m-0'>
      {#if added}
        <span class='mr-5'>
          <Caption>new</Caption>
        </span>
      {/if}
      {#if updated}
          <LastUpdate value={updated} />
      {/if}
    </p>
</a>
