<script>
  import Link from 'ui/atoms/link/Link';
  import TabLinks from 'ui/molecules/tab-links/TabLinks';

  export let title;
  export let subtitle;

  export let href;
  export let target;

  export let youtube;
  export let file;
</script>

<style>
  .row {
    overflow: hidden;
  }

  h3,  h4 {
    margin: 0;
  }

  h4 {
    color: #666;
  }

  .title {
    margin-right: 20px;
    overflow: hidden;
    flex-grow: 1;
  }

  .links {
    width: 70px;
    flex-shrink: 0;
  }
</style>

<div class="d-flex flex-row align-items-center">
  <div class=title>
    <Link {href} {target}>
      <div class=row>
        <div
          class="col-12 col-lg-6 d-flex align-items-center"
        >
          <h3
            class:text-primary={youtube}
            class=text-truncate
          >
            {title}
          </h3>
        </div>
        <div
          class="col-12 col-lg-6 d-flex align-items-center"
        >
          <h4 class="font-weight-lighter pl-2">{subtitle}</h4>
        </div>
      </div>
    </Link>
  </div>

  <div class=links>
    <TabLinks {youtube} {file} medium />
  </div>
</div>
