<script context="module">
  import Edit, { loadCategories } from 'app/views/tab/edit/Edit';

  export async function preload (page, session) {
    const { user } = session;
    const { id } = page.params;
    if (!user && !id) {
      this.redirect(302, '/tab');
    }

    const fetchJSON = (url) => this.fetch(url).then(r => r.json());
    return loadCategories(fetchJSON)
      .then(
        res => ({
          user,
          id,
          ...res
        })
      );
  }
</script>
<script>
  export let user;
  export let id;
  export let categories;
</script>

<Edit {user} {categories} {id} />
