<script>
    export let name;
    export let finger = 0;

    $: error = !/^[0-9]+$/.test(finger);
</script>

<style>
  .form-group {
    position: relative;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input {
    width: 50px;
  }

  input.is-invalid {
    padding-right: 12px;
    background-image: none;
  }
</style>

<div class="chord form-group d-flex flex-column align-items-center">
    <label class="mb-1" for={'chord_' + name}>{name}</label>
    <input
        class="form-control text-center"
        class:is-invalid={error}
        id={'chord_' + name}
        type="number"
        bind:value={finger}
        min=0
        max=20
        on:change
        on:keydown
    />
</div>
