<script>
    import File from 'ui/molecules/file/File';
    export let files = [];
</script>
<style>
  .files {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>

<div class="files">
  {#each files as file}
    <File {...file} />
  {/each}
</div>
